body {
  font-family: Arial;
  background: #f5f5f5;
  text-align: center;
}

form, .card {
  background: white;
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #e63946;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #c1121f;
}

img {
  margin-top: 10px;
}
